<div class="row g-0">
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/LENOVO LEGI.jpg" alt="Laptop LENOVO LEGI" />
    </div>

    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/LENOVO L340.jpg" alt="Laptop LENOVO L340" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/LENOVO LEGIONY720.jpg" alt="Laptop LENOVO LEGIONY720" />
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Laptop LENOVO LEGI</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Laptop LENOVO L340</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Laptop LENOVO LEGIONY720</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 2,800.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 3,300.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 3,800.00</h3>
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/nintendo mando.jpg" alt="Nintendo Mando" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/nintendojoycon.jpg" alt="Nintendo Mando" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/nintendomandosupernintendo.jpg" alt="Nintendo Mando" />
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Nintendo Mando</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Nintendo Mando</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Nintendo Mando</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 300.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 400.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 100.00</h3>
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/Xboxgamepass.jpg" alt="Xbox game" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/nintendojoycons.jpg" alt="Nintendo Joy Consola" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/nintendojoypad.jpg" alt="Nintendo Joy Pad" />
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Xbox game</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Nintendo Joy Consola</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Nintendo Joy Pad</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 1,500.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 1,800.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 1,700.00</h3>
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/as1.jpg" alt="Auriculares" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/as3.jpg" alt="Auriculares" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/as7.jpg" alt="Auriculares" />
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Auriculares</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Auriculares</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Auriculares</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 300.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 400.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 700.00</h3>
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/hyper1.jpg" alt="Teclado" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/hyper4.jpg" alt="Teclado" />
    </div>
    <div class="col col-4 bg-light text-center">
        <img class="img-fluid" id="foto"
             src="~/imagenes/hyper3.jpg" alt="Teclado" />
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Teclado</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Teclado</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h2>Teclado</h2>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 100.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 150.00</h3>
    </div>
    <div class="col col-4 bg-primary text-center">
        <h3>S/ 200.00</h3>
    </div>
</div>
